# Core FastAPI dependencies
fastapi[standard]==0.115.12
uvicorn[standard]==0.34.3

# Additional production dependencies
python-dotenv==1.1.0
pydantic-settings==2.9.1
python-multipart==0.0.20

# FastAPI CLI for development
fastapi-cli==0.0.7

# Database
sqlalchemy==2.0.40

# OAuth2 and JWT dependencies
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# AI
groq==0.25.0

# Testing
pytest==8.3.5
pytest-asyncio==0.25.3

# Logging & Rate Limiting
python-json-logger==2.0.7
slowapi==0.1.9
